footer{
    background: #6a6a6a;
}

.footer__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__label{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
.footer__label h1{
    font-size: 48px;
}

.footer__label p{
    font-size: 18px;
}

.email__input{
    background: #939393;
    color: white;
    outline: none;
    border-style: none;
    padding: 25px;
    font-size: 24px;
    width: 410px;
}
.send__btn{
    color: #D4D4D4;
    background: #9C9C8D;
    padding: 18px 72px;
    font-size: 24px;
    outline: none;
    border-style: none;
}
.send__btn:hover{
    color: white;
    background: #9C9C9C;
}

.footer__form{
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.line{
    height: 3px;
    width: 100%;
    background: white;
    margin-bottom: 25px;
}

.links__{
    margin-top: 50px;
    margin-bottom: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:35px;
}
.privacy{
    font-size: 24px;
    margin-bottom: 28px;
}

@media screen and (max-width:900px){
    .line{
        display: none;
    }
    .footer__label{
        display: none;
    }
    .footer__form{
        display: none;
    }
    .footer__label{
        display: none;
    }

    footer{
        padding-top: 15px;
    }
    .privacy{
        font-size: 9px;
    }
    .links__{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .links__ img{
        width: 24px;
        height: 24px;
    }
}